<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Thymeleaf demo home</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/styles/index.css}" rel="stylesheet" />
</head>
<body>
    <h1>Student Created</h1>
    <div th:object="${student}">
        <div>
            <span>Id: </span>
            <span th:text="*{id}" />
        </div>
        <div>
            <span>First name: </span>
            <span th:text="*{firstName}" />
        </div>
        <div>
            <span>Last name: </span>
            <span th:text="*{lastName}" />
        </div>
        <div>
            <span>Roll number: </span>
            <span th:text="*{rollNumber}" />
        </div>
        <div>
            <span>Department: </span>
            <span th:text="*{department}" />
        </div>
    </div>
</body>
</html>
